# Fichiers Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.out

# Notebooks
.ipynb_checkpoints/

# Ignorer le dossier racine `data/` (mais pas `src/data/`)
/data/ 
results/
*.pkl
*.joblib

# Env / IDE
.env
.venv/
*.env
*.DS_Store
*.log

# VSCode
.vscode/

# Fichiers système
Thumbs.db
.DS_Store
